<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" type="text/css" href="https://sagecell.sagemath.org/static/sagecell_embed.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>ZenGraph development interface - v0</title>
    </head>


    <body>
        <div class="container">
            <div class="row">
                <h2 style="background-color:#039e9e">ZenGraph.ai development interface - v0<br><br></h2>
                <div class="col-6 col-md-6">
                    <form action="" method="POST" id="load-data">
                        <label for="data_file" class="form-label">Load .csv file</label>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-8">
                                <input class="form-control form-control-sm" id="data_file" type="file"/>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary">Load Data</button>
                            </div>
                        </div>
                    </form>
                    <div style="background-color:pink;margin-bottom:10px;">
                        <h4>User Interface Test Prompt</h4>
                    </div>
                    <form action="/submit_prompt" method="POST" id="prompt-form">
                        <div class="form-group row">
                            <label for="prompt" class="col-2 col-md-2 col-form-label">Prompt</label>
                            <div class="col-10 col-md-10">
                                <textarea class="form-control" id="prompt" name="prompt" 
                                    rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="firstname" class="col-md-2 col-form-label">Title</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="title" name="title" 
                                    placeholder="plot title here">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-md-2 col-form-label">X Label</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="xlabel" name="xlabel" 
                                    placeholder="x axis label">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-md-2 col-form-label">Y Label</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="ylabel" name="ylabel" 
                                    placeholder="y axis label">
                            </div>
                        </div>
                        <div class="offset-2 form-group row">
                            <div class="col-2 col-md-2">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" 
                                    name="grid" id="grid" value="">
                                    <label class="form-check-label" for="grid">Grid</label>
                                </div>
                            </div>
                            <div class="col-2 col-md-2">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" 
                                    name="spines" id="spines" value="">
                                    <label class="form-check-label" for="spines">Spines</label>
                                </div>
                            </div>
                        </div>
                        <div class="offset-10 col-2 form-group row">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>        
                    <div style="background-color:pink;margin-top:10px;">
                        <h4>Raw Test Prompt</h4>
                    </div>
                    <form action="" method="POST" id="raw-prompt">
                        <div class="row">
                            <label for="raw-prompt" class="col-2 col-md-2 col-form-label">Prompt</label>
                            <div class="col-10 col-md-10">
                                <textarea class="form-control" id="prompt2" name="prompt2" 
                                    rows="20"></textarea>
                            </div>
                        </div>
                        <div class="offset-10 col-2 form-group row" style="margin-bottom:20px;margin-top:10px">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>        
                </div>
                <div class="col-6 col-md-6 search-params">
                    <div class="row offset-2 col-10" id="data-summary" name="data-summary">
                        <em>no data has been loaded</em>
                    </div>
                    <div class="row">
                        <label for="output" class="col-1 col-md-1 col-form-label">Output</label>
                        <div id="output" name="output" class="col-12 col-md-12"
                            style="border-style:groove;height:500px;"></div>
                    </div>
                    <div class="sage row">
                          <script type="text/x-sage">1+2</script>
                    </div>
                    <div class="sage row">
                  		<h4>Code Cell</h4>
                    		<div id="code-output" class="compute">
                                <script type="text/x-sage">
# copy output here to test
                                </script>
                            </div>
                    </div>
        </div>
            
        </div>
    </div>
    

        <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script>
            const sageElement = document.getElementById("code-output");
            console.log('first');
            console.log(sageElement);
            const init_code = sageElement.innerText;
            console.log(init_code);
        </script>
        <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
        <script>
            // Make the div with id 'mycell' a Sage cell
            sagecell.makeSagecell({inputLocation:  '#mycell',
                                   template:       sagecell.templates.minimal,
                                   evalButtonText: 'Activate'});
            // Make *any* div with class 'compute' a Sage cell
            sagecell.makeSagecell({inputLocation:  'div.compute',
                                   evalButtonText: 'Evaluate'});

        </script>
        <script>

            //const sageElement = document.getElementById("code-output");
            console.log(sageElement);
            const second_code = sageElement.innerText;
            console.log("logging second code in box...");
            console.log(sageElement);
            console.log(second_code);

            const input_file = document.getElementById("data_file");
            var input_names = [];
            
            document.getElementById('load-data').onsubmit = function (e) {
                e.preventDefault();

                const input = input_file.files[0];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const text = e.target.result;
                    const data = d3.csvParse(text);
                    
                    fetch('/load_csv_data', {
                      method: 'POST',
                      body: JSON.stringify(data),
                      headers: {
                        'Content-Type': 'application/json'
                      }
                    })
                    .then(function (response) {
                      return response.json();
                    })
                    .then(function (jsonResponse) {
                      success = jsonResponse['success'];
                      input_names = jsonResponse['variables'];
                      varstr = jsonResponse['varstr']

                      document.getElementById('data-summary').innerText = varstr;
                    })       
                };

                reader.readAsText(input);
          }
            document.getElementById('prompt-form').onsubmit = function (e) {
                e.preventDefault();
                console.log(input_names);

                free_prompt = document.getElementById('prompt').value
                title = document.getElementById('title').value
                xlabel = document.getElementById('xlabel').value
                ylabel = document.getElementById('ylabel').value
                grid = document.getElementById('grid').checked
                spines = document.getElementById('spines').checked
                
                fetch('/submit_query', {
                  method: 'POST',
                  body: JSON.stringify({
                    'title' : title,
                    'prompt' : free_prompt,
                    'xlabel' : xlabel,
                    'ylabel' : ylabel,
                    'grid' : grid,
                    'spines' : spines
                  }),
                  headers: {
                    'Content-Type': 'application/json'
                  }
                })
                .then(function (response) {
                  return response.json();
                })
                .then(function (jsonResponse) {
                  success = jsonResponse['success']
                })       
          }

          document.getElementById('raw-prompt').onsubmit = function (e) {
              e.preventDefault();

              raw_prompt = document.getElementById('prompt2').value
              
              fetch('/submit_raw', {
                method: 'POST',
                body: JSON.stringify({
                  'raw_prompt' : raw_prompt
                }),
                headers: {
                  'Content-Type': 'application/json'
                }
              })
              .then(function (response) {
                return response.json();
              })
              .then(function (jsonResponse) {
                success = jsonResponse['success']
                prompt_input = jsonResponse['prompt']
                completion = jsonResponse['completion']

                output_str = "Prompt:\n\n" + prompt_input + "\n\nCompletion:\n" + completion.trim();
                document.getElementById("output").innerText = output_str;
              })       
          }
        </script>
    </body>
</html>
